* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #fff;
  opacity: .8;
  position: sticky;
  top: 0;
  /* z-index: 1000; */

  > a {
    text-decoration: none;

    > h2 {
      color: #737171;
      font-size: 24px;
    }
  }

  > div {

    > a {
      color: #34495E;
      font-size: 16px;
      margin-inline-start: 20px;
      cursor: pointer;

      &:hover {
        color: #f08c79;
      }
    }

    > .search-icon {
      color: #f08c79;
      margin-inline-start: 30px;
      font-size: 20px;
  
      &:hover {
        color: #34495E;
      }
    }
  }

}